.age-gate-form {
  max-width: 27rem;

  button:active,
  button:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    background-color: #ba6954;
    width: 6px;
    border-left: 1px solid #ddc8b7;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ddc8b7;
  }

  input,
  .ReactA11ySelect,
  button {
    transition: all 0.2s linear;
    /* removes inner shadow on iOS */
    -webkit-appearance: none;
    /* min heights for safari */
    min-height: 3rem;
  }

  // A whole bunch of custom styling on the select
  .ReactA11ySelect {
    margin: 0.5rem;
    color: #ddc8b7;
    font-family: 'Optima', 'sans-serif';
    position: relative;

    &:focus,
    &:focus-within,
    &:active {
      color: #fff;

      button {
        border-color: #fff;
      }

      button ~ ul {
        border-color: #fff;

        li {
          border-color: #fff;
          color: #fff;
        }
      }
    }

    button {
      border-radius: 0;
      border-width: 2px;
      border-color: #ddc8b7;
      outline: none;
      text-transform: uppercase;
      font-size: 1.125rem;
      min-width: 0;
      width: 100%;
      padding: 0.5rem;
      background-color: #ba6954;
      background-image: url('/img/carat.svg');
      background-repeat: no-repeat;
      background-position: 100% 50%;
    }

    &__ul {
      background-color: #ba6954;
      border-radius: 0;
      box-shadow: none;
      border: 2px solid #ddc8b7;
      border-top: none;
      margin-top: 0;
      width: 100%;
      max-height: 130px;
      overflow-y: scroll;

      &__li {
        color: #ddc8b7;
        text-transform: uppercase;
        padding: 0.5rem;
        outline: none;

        &:hover,
        &:focus {
          background-color: #ddc8b7;
          color: #ba6954;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #ddc8b7;
        }

        &[aria-checked='true'] {
          background-color: #ddc8b7;
          color: #ba6954;
        }
      }
    }

    // Hide the down arrow
    &__button__arrow-indicator {
      display: none;
    }

    // Hide the checkmark
    .ReactA11ySelect__ul__li__selected-indicator {
      display: none;
    }

    // className="font-display placeholder-light text-light border-2 border-light bg-primary flex-1 uppercase"
  }
}
